// Mixins in here
.btn() {
    border-radius: 16px;
    background-color: @eastern-blue;
    height: 50px;
    width: 90%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: @white;
}